/* Adapted from tablesorter's basic blue theme */
div#playerstatus {
  font-family: "PragmataPro", menlo, "DejaVu Sans Mono", "Bitstream Vera Sans Mono", "Courier New", monospace;
  font-size: 13px;
}
div#playerstatus span#games,
div#playerstatus span#tip {
  margin: 0 5px 8px;
}
div#playerstatus span#interval,
div#playerstatus span#github {
  margin: 8px 5px;
}
div#playerstatus span#games {
  float: left;
  color: #111111;
}
div#playerstatus span#tip {
  float: right;
  color: #666666;
}
div#playerstatus span#interval {
  float: left;
  color: #666666;
}
div#playerstatus span#github {
  float: right;
}
div#playerstatus span#github a,
div#playerstatus span#github a:visited {
  color: #666666;
}
div#playerstatus table.tablesorter {
  clear: both;
  background-color: #000000;
  margin: 0;
  width: 100%;
  text-align: left;
}
div#playerstatus table.tablesorter thead tr th,
div#playerstatus table.tablesorter tfoot tr th {
  background-color: #B4B4B4;
  font-weight: normal;
  padding: 4px 3px;
}
div#playerstatus table.tablesorter thead tr th.header {
  background-image: url(bg.gif);
  background-repeat: no-repeat;
  background-position: center right;
  cursor: pointer;
}
div#playerstatus table.tablesorter tbody tr {
  background-color: #0F0F0F;
  color: #B4B4B4;
  cursor: default;
}
div#playerstatus table.tablesorter tbody tr:nth-child(even) {
  background-color: #1E1E1E;
}
div#playerstatus table.tablesorter tbody tr:hover {
  color: #FFFFFF;
  /*background-color: #2D2D2D;*/
}
div#playerstatus table.tablesorter tbody tr:hover a,
div#playerstatus table.tablesorter tbody tr:hover a:visited {
  color: #FFFFFF;
  text-decoration: underline;
}
div#playerstatus table.tablesorter tbody td {
  padding: 4px 3px 4px 3px;
  vertical-align: top;
}
div#playerstatus table.tablesorter tbody td a,
div#playerstatus table.tablesorter tbody td a:visited {
  color: #B4B4B4;
  text-decoration: none;
}
div#playerstatus table.tablesorter thead tr th.headerSortUp {
  background-image: url(asc.gif);
}
div#playerstatus table.tablesorter thead tr th.headerSortDown {
  background-image: url(desc.gif);
}
div#playerstatus table.tablesorter thead tr th.headerSortDown,
div#playerstatus table.tablesorter thead tr th.headerSortUp {
  background-color: #DCDCDC;
}
div#playerstatus table.tablesorter thead tr th:hover {
  background-color: #F0F0F0;
}
