/* TODO: make css mesh with CDO css */

/* declares the custom font */
@font-face {
  font-family: 'VeraMono';
  src: url('VeraMono.ttf');
}

/* declares the properties of all tables on the page
   the two tables are the data table (top) and the status table (below) */
table {
    margin:auto;
    width: 100%;
}

/* the properties of the div that holds the tables */
#ajax-response {
    font-family: "VeraMono", "courier new";
    text-align: left;
    font-size: 12px;
}

/* make the data table black with light gray text */
#data-table {
    background-color: black;
    color: rgb(180,180,180);
    
    /* change the text color back after hover */
    -moz-transition-property: color;
    -moz-transition-duration: 0.25s;
}

#data-table td {
    cursor: default;
}

/* tr.norm are even table rows, tr.alt are odd ones
   on mouseover, both have white text for both normal text and links */
tr.norm:hover,
tr.alt:hover,
tr.norm:hover a:link,
tr.norm:hover a:visited,
tr.alt:hover a:link,
tr.alt:hover a:visited {
    color: white;
    
    /* change the row text and anchor color to white on hover */
    -moz-transition-property: color;
    -moz-transition-duration: 0.25s;
}

/* links in the table data are without decoration unless their row is hovered */
tr.norm:hover td a,
tr.alt:hover td a {
    text-decoration:underline;
}

/* make color transparent so that CDO wordpress background shows through */
body {
	background: transparent !important;
}

/* padding widths for all table cells
   3px top and bottom, 5px left and right */
th,
td {
    padding: 3px 5px;
}

/* th are table header cells
   differ from td by having gray background with black text, changed cursor */
th {
    font-weight: normal;
    color: black;
    text-align: left;
    cursor: pointer;
    background-color: rgb(180,180,180);
    
    /* change table header background back after hover, starting off slow */
    -moz-transition-property: background-color;
    -moz-transition-duration: 0.3s;
    -moz-transition-timing-function: ease-in;
}

/* even table rows have a darker black */
tr.norm td {
    background-color: rgb(15,15,15);
    
    /* change tr.norm background color back after hover */
    -moz-transition-property: background-color;
    -moz-transition-duration: 0.25s;
}

/* odd table rows have a lighter black */
tr.alt td {
    background-color: rgb(30,30,30);
    
    /* change tr.alt background color back after hover */
    -moz-transition-property: background-color;
    -moz-transition-duration: 0.25s;
}

/* both types of table rows are light on hover */
tr.alt:hover td,
tr.norm:hover td {
    background-color: rgb(45,45,45) !important;
    
    /* highlight tr.norm and tr.alt rows on hover, starting off slow */
    -moz-transition-property: background-color;
    -moz-transition-duration: 0.7s;
    -moz-transition-timing-function: ease-in;
}

/* links are normally undecorated */
a:link,
a:visited {
    text-decoration: none;
    color: rgb(180,180,180);
}

#status-row:hover {
    cursor: pointer;
}

#status-row:hover span.blue {
    color: rgb(85,255,85);
    -moz-transition-property: color;
    -moz-transition-duration: 0.5s;
}

#status-row:hover span.purple {
    color: rgb(187,0,0);
    -moz-transition-property: color;
    -moz-transition-duration: 0.5s;
}

/* the div with the countdown-to-refresh timer, aligned right */
#timer {
    text-align: right;
}

/* used in the countdown timer */
.blue {
    color: rgb(85,85,255);
    -moz-transition-property: color;
    -moz-transition-duration: 0.5s;
}

/* same */
.purple {
    color: rgb(187,0,187);
    -moz-transition-property: color;
    -moz-transition-duration: 0.5s;
}

/* same */
.grey {
    color: rgb(85,85,85);
}

/* .sort is the class of the column that is currently dictating the sort order
   give it a lighter grey background */
.sort,
.sort a {
    background-color: rgb(220,220,220);
    
    /* change back the sort header background after hover */
    -moz-transition-property: background-color;
    -moz-transition-duration: 0.3s;
    -moz-transition-timing-function: ease-in;
}

/* all headers are lighter upon mouseover */
th:hover, 
th:hover a {
    background-color: rgb(240,240,240);
    -moz-transition-property: background-color;
    -moz-transition-duration: 0.1s;
}