table {
    margin:auto;
    font-family: "courier new";
    text-align: left;
    font-size: 12px;
    width:100%;
}

#ajax-response {
    font-family: "courier new";
    text-align: left;
    font-size: 12px;
}

#data-table {
    background-color: black;
    color: rgb(180,180,180);
}

tr.norm:hover td a,
tr.alt:hover td a {
    color: white !important;
}

body {
	background: transparent !important;
}

th,
td {
    padding: 3px 5px;
}

th,
tr.alt td {
    background-color: rgb(20,20,20);
}

a:link,
a:visited {
    text-decoration: none;
    color: rgb(192,192,192);
}

#timer {
    text-align: right;
}

.blue {
    color: rgb(85,85,255);
}

.purple {
    color: rgb(187,0,187);
}

.grey {
    color: rgb(85,85,85);
}

#sort,
#sort a {
    background-color: rgb(180,180,180) !important;
    color: black !important;
}

th:hover, 
th:hover a {
    background-color: rgb(20,20,20);
    color: white;
}