/* TODO: make css mesh with CDO css */

/* declares the custom font */
@font-face {
  font-family: 'DejaVuSansMono';
  src: url('DejaVuSansMono.ttf');
}

#webstatus {
    height: 14px;
    line-height: 14px;
}

/* declares the properties of all tables on the page
   the two tables are the data table (top) and the status table (below) */
#webstatus table {
    margin:auto;
    width: 100%;
}

/* the properties of the div that holds the tables */
#webstatus #ajax-response {
    font-family: "DejaVuSansMono", "courier new";
    text-align: left;
    font-size: 12px;
}

/* make the data table black with light gray text */
#webstatus #data-table {
    background-color: black;
    color: rgb(180,180,180);
    
    /* change the text color back after hover */
    /* -o-transition-property: color; */
    -moz-transition-property: color;
    -webkit-transition-property: color;
    /* -o-transition-duration: 0.25s; */
    -moz-transition-duration: 0.25s;
    -webkit-transition-duration: 0.25s;
}

#webstatus #data-table td {
    cursor: default;
}

/* tr.norm are even table rows, tr.alt are odd ones
   on mouseover, both have white text for both normal text and links */
#webstatus tr.norm:hover,
#webstatus tr.alt:hover,
#webstatus tr.norm:hover a:link,
#webstatus tr.norm:hover a:visited,
#webstatus tr.alt:hover a:link,
#webstatus tr.alt:hover a:visited {
    color: white;
    
    /* change the row text and anchor color to white on hover */
    /* -o-transition-property: color; */
    -moz-transition-property: color;
    -webkit-transition-property: color;
    /* -o-transition-duration: 0.15s; */
    -moz-transition-duration: 0.15s;
    -webkit-transition-duration: 0.15s;
}

/* links in the table data are without decoration unless their row is hovered */
#webstatus tr.norm:hover td a,
#webstatus tr.alt:hover td a {
    text-decoration:underline;
}

/* make color transparent so that CDO wordpress background shows through */
#webstatus body {
	background: transparent !important;
    /* background: none repeat scroll 0 0 transparent !important; */
}

/* padding widths for all table cells
   3px top and bottom, 5px left and right */
#webstatus th,
#webstatus td {
    padding: 3px 5px;
}

/* th are table header cells
   differ from td by having gray background with black text, changed cursor */
#webstatus th {
    font-weight: normal;
    color: black;
    text-align: left;
    cursor: pointer;
    background-color: rgb(180,180,180);
    
    /* change table header background back after hover, starting off slow */
    /* -o-transition-property: background-color; */
    -moz-transition-property: background-color;
    -webkit-transition-property: background-color;
    /* -o-transition-duration: 0s; */
    -moz-transition-duration: 0s;
    -webkit-transition-duration: 0s;
    /* -o-transition-timing-function: ease-in; */
    -moz-transition-timing-function: ease-in;
    -webkit-transition-timing-function: ease-in;
}

/* even table rows have a darker black */
#webstatus tr.norm td {
    background-color: rgb(15,15,15);
    
    /* change tr.norm background color back after hover */
    /* -o-transition-property: background-color; */
    -moz-transition-property: background-color;
    -webkit-transition-property: background-color;
    /* -o-transition-duration: 0.2s; */
    -moz-transition-duration: 0.2s;
    -webkit-transition-duration: 0.2s;
}

/* odd table rows have a lighter black */
#webstatus tr.alt td {
    background-color: rgb(30,30,30);
    
    /* change tr.alt background color back after hover */
    /* -o-transition-property: background-color; */
    -moz-transition-property: background-color;
    -webkit-transition-property: background-color;
    /* -o-transition-duration: 0.2s; */
    -moz-transition-duration: 0.2s;
    -webkit-transition-duration: 0.2s;
}

/* both types of table rows are light on hover */
#webstatus tr.alt:hover td,
#webstatus tr.norm:hover td {
    background-color: rgb(45,45,45) !important;
    
    /* highlight tr.norm and tr.alt rows on hover, starting off slow */
    /* -o-transition-property: background-color; */
    -moz-transition-property: background-color;
    -webkit-transition-property: background-color;
    /* -o-transition-duration: 0s; */
    -moz-transition-duration: 0s;
    -webkit-transition-duration: 0s;
    /* -o-transition-timing-function: ease-in; */
    -moz-transition-timing-function: ease-in;
    -webkit-transition-timing-function: ease-in;
}

/* links are normally undecorated */
#webstatus a:link,
#webstatus a:visited {
    text-decoration: none;
    color: rgb(180,180,180);
}

#webstatus #status-row-upper:hover,
#webstatus #status-row-lower:hover {
    cursor: pointer;
}

#webstatus #status-row-upper:hover span.blue,
#webstatus #status-row-lower:hover span.blue {
    color: rgb(85,255,85);
    /* -o-transition-property: color; */
    -moz-transition-property: color;
    -webkit-transition-property: color;
    /* -o-transition-duration: 0.5s; */
    -moz-transition-duration: 0.5s;
    -webkit-transition-duration: 0.5s;
}

#webstatus #status-row-upper:hover span.purple,
#webstatus #status-row-lower:hover span.purple {
    color: rgb(187,0,0);
    /* -o-transition-property: color; */
    -moz-transition-property: color;
    -webkit-transition-property: color;
    /* -o-transition-duration: 0.5s; */
    -moz-transition-duration: 0.5s;
    -webkit-transition-duration: 0.5s;
}

/* the div with the countdown-to-refresh timer, aligned right */
#webstatus #timer-upper,
#webstatus #timer-lower {
    text-align: right;
}

/* used in the countdown timer */
#webstatus .blue {
    color: rgb(85,85,255);
    /* -o-transition-property: color; */
    -moz-transition-property: color;
    -webkit-transition-property: color;
    /* -o-transition-duration: 0.5s; */
    -moz-transition-duration: 0.5s;
    -webkit-transition-duration: 0.5s;
}

/* same */
#webstatus .purple {
    color: rgb(187,0,187);
    /* -o-transition-property: color; */
    -moz-transition-property: color;
    -webkit-transition-property: color;
    /* -o-transition-duration: 0.5s; */
    -moz-transition-duration: 0.5s;
    -webkit-transition-duration: 0.5s;
}

/* same */
#webstatus .grey {
    color: rgb(85,85,85);
}

/* .sort is the class of the column that is currently dictating the sort order
   give it a lighter grey background */
#webstatus .sort,
#webstatus .sort a {
    background-color: rgb(220,220,220);
    
    /* change back the sort header background after hover */
    /* -o-transition-property: background-color; */
    -moz-transition-property: background-color;
    -webkit-transition-property: background-color;
    /* -o-transition-duration: 0s; */
    -moz-transition-duration: 0s;
    -webkit-transition-duration: 0s;
    /* -o-transition-timing-function: ease-in; */
    -moz-transition-timing-function: ease-in;
    -webkit-transition-timing-function: ease-in;
}

/* all headers are lighter upon mouseover */
#webstatus th:hover, 
#webstatus th:hover a {
    background-color: rgb(240,240,240);
    /* -o-transition-property: background-color; */
    -moz-transition-property: background-color;
    -webkit-transition-property: background-color;
    /* -o-transition-duration: 0s; */
    -moz-transition-duration: 0s;
    -webkit-transition-duration: 0s;
}